<div class="pr-6 py-8 pl-8 h-full w-full flex flex-col">
  <breadcrumbs [items]="breadcrumbs"></breadcrumbs>
  <header class="mt-3 flex justify-between text-textDarkest">
    <div class="text-xl font-medium">User List</div>
    <div class="social-links">
      <j-button className="btn-secondary mr-2" (click)="showModal()">
        🕵 Create new user
      </j-button>
    </div>
  </header>
  <div nz-row [nzGutter]="[16, 16]" class="max-h-full overflow-auto pt-3">
    <div *ngFor="let user of users" nz-col [nzXs]="12" [nzSm]="8" [nzLg]="6">
      <nz-card nzHoverable class="bg-gray-100 rounded-lg shadow-md h-full">
        <span class="mr-3">🧙</span>
        <span class="font-medium text-btn"
          >​{{ user.firstname + " " + user.lastname }}</span
        >
      </nz-card>
    </div>
  </div>
</div>

<ng-template #emptyList class="self-center">
  <nz-empty [nzNotFoundContent]="contentTpl">
    <ng-template #contentTpl>
      <span class="font-medium">Empty list</span>
    </ng-template>
  </nz-empty>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzContent]="modalContent"
  [nzFooter]="null"
  [nzClosable]="false"
>
  <ng-template #modalContent>
    <div class="flex items-center text-textDarkest">
      <div class="text-xl">Create user</div>
      <div class="flex-auto"></div>
      <j-button
        icon="times"
        [iconSize]="24"
        (click)="closeModal()"
        [className]="'btn-empty'"
      >
      </j-button>
    </div>

    <form class="issue-form" [formGroup]="userForm">
      <div nz-col class="form-group mt-3 col-12">
        <label class="label"> First name </label>
        <input class="form-input" formControlName="firstname" />
      </div>

      <div nz-col class="form-group mt-3 col-12">
        <label class="label"> Last name </label>
        <input class="form-input" formControlName="lastname" />
      </div>

      <div class="form-group mt-5 form-action">
        <j-button
          className="btn-primary mr-2"
          type="submit"
          [disabled]="userForm.invalid"
          (click)="submitForm()"
        >
          Create
        </j-button>
        <j-button className="btn-empty" (click)="closeModal()">
          Cancel
        </j-button>
      </div>
    </form>
  </ng-template>
</nz-modal>
