.task-wrap {
    touch-action: manipulation;
    cursor: -webkit-grab;
    cursor: grab;
    margin-bottom: 5px;
  }
  
  .task {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 0.125rem;
    background-color: #fff;
    transition-property: all;
    transition-duration: 0.1s;
    padding: 10px;
  }